*{
margin: 0;
padding:0;
box-sizing: border-box;

}

:root{
    
    --header1:calc(3.5em + 1vw);
    --header2:calc(2.5em + 1vw);
    --header3:calc(1.8em + 1vw);
    --header4:calc(1.5em + 1vw);
     --Dark-Violet:hsl(270, 9%, 17%);
    --Violet:hsl(256, 26%, 20%);
    --Grayish-Blue:hsl(216, 30%, 68%);
    --DarkGrayish-Violet:hsl(273, 4%, 51%);
    --VeryLight-Gray:hsl(0, 0%, 98%);
    scroll-behavior: smooth;
    

}

body{
 font-family: 'Karla',sans-serif;
 font-weight: 400;

}

h1,h2,h3{
    font-family: 'DM Serif Display',
    serif;
    
}

h1{
     font-size: var(--header1);
    color: var(--VeryLight-Gray); 
}

h2{
    font-size: var(--header2);
    color:var(--VeryLight-Gray);
}

h3{
    font-size: var(--header3);
    color:var(--Dark-Violet);
}

ul{
    list-style: none;
}



a{
    text-decoration:none;
    font-size: var(--text);
     color: var(--DarkGrayish-Violet);
}

p{
    font-size:var(--text);
    color:var(--VeryLight-Gray);
}

button {
    border: 1px solid var(--VeryLight-Gray);
    background-color: (var(--Violet));
    color: var(--VeryLight-Gray);
    padding: 1em 3em;

}





/* Navbar Section */

nav{
    display:flex;
    min-height:10vh;
   width: 80%;
    margin:auto;
  
    align-items:center;
}

.Logo-Section{
flex: 1 1 20rem;
}

.Nav-Links{
    display: flex;
    flex: 1 1 20rem;
    justify-content: space-between;
    
}


.Nav-Button a{
    color: var(--Violet);
    padding:0.5rem 3rem;
   border:medium solid var(--Violet);
    
}

.Nav-Links a:hover{
  color: var(--Violet); 
}

.Nav-Button a:hover{
    background: var(--Violet);
    color: var(--VeryLight-Gray);

}

/* Hero Section */

#Hero{
     min-height: 70vh;
     width: 100%;
      background-color: var(--Violet); 
      display: flex; 
      position: relative;
      flex-direction: column;
      

    
     
}

.Hero-Container{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    }

    .Hero-Left{
        width: 50%;
    }


.BGPattern-Left {
position:absolute;
bottom:-15em;
left:-3em;

}

.Hero-Left hr{
  border-top: 1px solid var(--VeryLight-Gray);
  margin-bottom:3em ;  
  width: 10em;
}

.Hero-Left p {
    padding: 2.5em 0;
}



.Hero-Button a {
    color: var(--VeryLight-Gray);
}

.Hero-Button:hover{
    background-color: var(--VeryLight-Gray);
    color: var(--Violet);
}


.Hero-Right{
    width:50% ;
    }


.BGPattern-Right{
    position: absolute;
    top:0;
    right:0;
    }



/* Benefits Section */

#Benefits{
    width: 80%;
    margin: 10em auto 0 auto;
}

#Benefits hr{
     border-top: 1px solid var(--VeryLight-Gray);
     margin-bottom:3em;
     width: 10em;
}

#Benefits h2{
    color: var(--Dark-Violet);
}

.Benefits-Cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
    padding-top: 7.5em;
    grid-gap: 4em;
}




.Benefits-Cards p {
    color:var(--DarkGrayish-Violet);
}

.Benefits-Cards h3,img{
    padding-bottom: 1em;
}


/* How Work Section */

#How-We-Work{
    max-width: 80%;
   margin: 10em auto 0 auto;
   display: flex;
   background-color: var(--Violet);
   position: relative;
  
}


.About-Us{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4em;
   
}

.About-Us h2{
    padding-bottom: 0.5em;
}

.About-Us p{
    padding-bottom: 1.5em;
}

.About-Us button:hover{
    background-color: var(--VeryLight-Gray);
    color: var(--Dark-Violet);
}

/* Footer Section */

footer{
    background-color: var(--VeryLight-Gray);
    display: flex;
    margin-top: 10em;
    position: relative;
}

.Footer-Container{
    width: 80%;
    margin: auto;
    
}

.Footer-Top{
    display: flex;
    flex-direction: row;
    padding-top: 4em;
    align-items: center;

}

.Footer-Pattern{
position:absolute;
top: 0;
left: 0;
}

.Footer-Logo{
    flex: 2 1;
}

.Footer-Socials{
    display: flex;
    flex: 1 1;
    justify-content: space-between;
}

.Footer-Socials a:hover{
color: greenyellow;
}


footer hr{
    border: 1px solid var(--DarkGrayish-Violet);
    max-width: 100%;
    margin-top: 1em;

}

.Footer-Middle{
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.Footer-Middle ul{
    line-height: 2.5;
}


.Footer-Middle li:first-child{
    color: var(--DarkGrayish-Violet);
    padding-bottom: 1em;
}

.Footer-Middle li:hover{
    text-decoration: underline var(--Dark-Violet);
}


















   

   
       































